*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: rgb(197, 224, 177);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  min-height: 100px;
  background-color: rgb(35, 82, 1);
  color:white;
  text-align: center;
  padding-top:20px;
}
main {
  background-color: white;
  flex-grow: 1;
  margin:20px auto;
  width:60%;
  padding:20px;
}
main h2{
  padding:5px;
  background-color: rgb(197, 224, 177);
}
main li{
  margin-left: 20px;
  padding:5px;
}
main table{
margin-top:10px;
 border:1px solid rgb(27, 55, 7);
}
main table tr{
  border: 1px solid rgb(21, 42, 5);
  background-color: white;
}

main table th{
  border: 1px solid rgb(27, 55, 7);
  background-color: rgb(197, 224, 177);
  min-width:200px;
}

footer{
  background-color: black;
  color:white;
  text-align: center;
}
